<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Page</title>
    <link rel="stylesheet" href="../static/css/Booking.css">
</head>
<body>
<form>
    <div class="bContainer">
        <form>
        <input class="i1" placeholder="Movie Name" >
        <input class="i2" type="number" placeholder="No. of Ticket">
            <select name="Time" required>
                <option value="Time">Time</option>
                <option value="04:30 AM">07:30 AM</option>
                <option value="11:30 AM">11:30 AM</option>
                <option value="03:30 PM">03:30 PM</option>
            </select>
        <input class="i4" placeholder="Price" >
        <select name="Queue ">
            <option value="queue">Queue</option>
            <option value="Queue 1">Queue 1</option>
            <option value="Queue 2">Queue 2</option>
            <option value="Queue 3">Queue 3</option>
        </select>
        <input class="i6" >
        <button class="b1" type="submit"> Book Ticket</button>
        </form>
    </div>
</form>
</body>
</html>