<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{~/css/navbar.css}" >
    <link rel="stylesheet" th:href="@{~/css/footer.css}" >
</head>
<body>
<div th:replace="~{fragments/navbar.html :: header}"></div>
<div class="mClass">
    <div class="">

    </div>
</div>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>