<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" th:href="@{~/css/login.css}">
    <link rel="stylesheet" th:href="@{~/css/navbar.css}">
    <link rel="stylesheet" th:href="@{~/css/footer.css}">
    <title>Login</title>
</head>
<body>
<div th:replace="~{fragments/navbarLogin.html :: header}"></div>

<div class="wrapperSignIn">
    <div class="imagePart"></div>
    <div class="signInPart">
        <div class="container">
            <h1>Login to access to<br/>your account</h1>
            <div class="login-form">
                <form method="post" th:action="@{/login}">
                    <input type="text" name="email" id="email" placeholder="E-mail Address" required autofocus/>
                    <input type="password" name="password" id="password" placeholder="Password" required autofocus/>
                    <button class="submit" type="submit">LOG-IN</button>
                </form>
            </div>
            <span style="color: whitesmoke"> <i>Don't Have An Account ?</i> <a th:href="@{~/user/create}" style="color: #00ffd5">SignUp</a></span>
            <span style="color: whitesmoke"> <a th:href="@{~/user/forgotpassword}" style="color: #00ffd5">Forgot Password ?</a></span>

        </div>
    </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}"></div>

</body>
</html>