<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDetails</title>
    <link rel="stylesheet" th:href="@{~/css/navbar.css}">
    <link rel="stylesheet" th:href="@{~/css/footer.css}">
    <link rel="stylesheet" th:href="@{~/css/movieDetails.css}">
</head>
<body>
<div th:replace="~{fragments/navbar.html :: header}"></div>
<div class="mdMainClass">
    <h1>Movie Details</h1>
    <div class="mdDetailsWrapper">
        <div class="mdImagePart">
            <img class="img" th:src="'data:image/png;base64,'+${mov.imageBase64}"/>
        </div>
        <form class="mdDetailsPart">
            <b><h1 class="mdTitle" th:text="${mov.movieName}"></h1></b>
            <h2 class="mdGenre" th:text="${mov.genre}"></h2>
            <h6 class="mdDesc" th:text="${mov.movieDescription}"></h6>
            <h2>Director: <span class="mdDir" th:text="${mov.director}"></span></h2>
            <h2>Cast: <span class="mdCast" th:text="${mov.cast}"></span></h2>
            <h2>Release On: <span class="mdRel" th:text="${mov.releaseDate}"></span></h2>
            <h2>Duration: <span class="mdDir" th:text="${mov.duration}"></span> minutes</h2>
        </form>

    </div>

    <!--  <div class="trailer">-->
    <!--    <h3>Trailer</h3>-->
    <!--&lt;!&ndash;    <iframe width="560" height="315" src="https://www.youtube.com/embed/5PSNL1qE6VY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&ndash;&gt;-->
    <!--    <a class="bookTkt" th:href="@{~/book/bookingPage}"><button class="bkTicket" >BOOK TICKET</button> </a>-->
    <!--  </div>-->

</div>

<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>