<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="../static/css/signup.css">-->
    <link rel="stylesheet" th:href="@{~/css/signup.css}" >
    <title>Create An Account</title>
</head>
<body>
<header>

</header>
<div class="wrapperSignup">
    <div class="signupPart">
            <h1>Login to access to<br/>your account</h1>
            <div class="login-form">
                <form th:method="post" th:action="@{/user/save}" th:object="${user}">
                    <input type="text" hidden placeholder="UserId..." th:field="*{id}" th:value="${user.id}" />

                    <input type="text" required placeholder="FullName..." th:field="*{fullName}" th:value="${user.fullName}" />

                    <input type="text" required placeholder="UserName..." th:field="*{username}" th:value="${user.username}" />


                    <input type="email" required placeholder="Enter your email..." th:field="*{email}" th:value="${user.email}" />

                    <input type="text" required placeholder="Enter phone number..." th:field="*{mobileNo}" th:value="${user.mobileNo}" />

                    <input type="password" required placeholder="Password..." th:field="*{password}" th:value="${user.password}" />

                    <input type="password" required placeholder="Confirm Password..." th:field="*{password}" th:value="${user.password}" />

                    <button type="submit"  class="submit">Sign-Up</button>

                    <span style="color: whitesmoke"> <i>Have An Account ?</i> <a th:href="@{~/user/login}" style="color: #00ffd5">SignIn</a></span>

                </form>
            </div>
    </div>
</div>
</body>
</html>