<footer>
    <div class="content" th:fragment="footer">
        <div class="left box">
            <div class="upper">
                <div class="topic">About us</div>
                <p>Planning to watch a movie. Here buy a movie ticket from here.
                    Buy any movie tickets using this website.... MovieTime.
                    Enjoy your Time with Movie Time.............
                </p>
            </div>
            <div class="lower" id="contactUs">
                <div class="topic">Contact us</div>
                <div class="phone">
                    <a href="#"><i class="fas fa-phone-volume"></i>9845698210</a>
                </div>
                <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>movietime2020@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a th:href="@{~/home/homepage}">Buy Tickets</a></div>
        </div>
        <div class="right box">
            <div class="topic">Connect With Us From Here</div>
            <a th:href="@{~/user/contactus}">Send Feedback</a>
            <div class="media-icons">
                <a href="https://www.facebook.com/profile.php?id=100071511786103&sk=about"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/avic3k_/?hl=en"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/avicekbhatta4"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="https://www.linkedin.com/in/abhishek-bhatta-838865194/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <!--            </form>-->
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2020 <a th:href="@{~/home/homepage}">MovieTime</a> All rights reserved</p>
    </div>
</footer>