<!--<div th:fragment="header" class="head">-->
<!--  <link rel="stylesheet" href="/static/css/header.css">-->
<!--  &lt;!&ndash; Logo Division &ndash;&gt;-->
<!--  <div class="logo-div">-->
<!--    <button class="btn" onclick="alert('Noice')" >-->
<!--&lt;!&ndash;      <img th:src="@{~/images/logosmall.png}" alt="logo" class="logo">&ndash;&gt;-->
<!--      <img src="/static/images/logosmall.png" alt="logo" class="logo">-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="navbarItems">-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="#"> Home </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#"> About </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#"> TicketRates </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#"> MyTickets </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#"> Contact Us </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#"> Help </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  &lt;!&ndash; Profile Picture Division &ndash;&gt;-->
<!--  <div class="loginSignup">-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="#"> SignIn </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#">SignUp</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--</div>-->