<div th:fragment="header" class="head">

    <header>
        <div class="inner-width">
            <a th:href="@{~/home/homepage}">
                <button class="btn">
                    <img th:src="@{~/images/logosmall.png}" alt="logo" class="logo">
                </button>
            </a>
            <nav class="navigation-menu">
                <a href="#"><i class="fas fa-home home"></i> Home</a>
                <a href="#"><i class="fas fa-align-left about"></i> About</a>
                <a href="#"><i class="fab fa-buffer works"></i> My Tickets</a>
                <a href="#"><i class="fa-brands fa-hire-a-helper"></i>Help</a>
                <a href="#"><i class="fas fa-headset contact"></i> Contact</a>
            </nav>


            <a th:href="@{~/user/profile/}+${userdata.id}">
                <h4 th:text="${userdata.getFullName()}"></h4>
            </a>

            <a th:href="@{~/logout}">
                <h4 class="picture">Logout </h4>
            </a>


            <i class="menu-toggle-btn fas fa-bars"></i>


        </div>
    </header>


</div>