<nav class="nav" th:fragment="header">
    <div class="logo-div">
        <a th:href="@{~/home/homepage}">
            <button class="btn">
                <img th:src="@{~/images/logosmall.png}" alt="logo" class="logo">
            </button>
        </a>
    </div>

    <div class="navbar" id="nav">
        <div class="nav_link hide">
            <a th:href="@{~/home/homepage}">Home</a>
            <a th:href="@{~/home/homepage}">About</a>
            <a th:href="@{~/home/homepage}">TicketRates</a>
            <a th:href="@{~/home/homepage}">MyTickets</a>
            <a th:href="@{~/home/homepage}">ContactUs</a>
            <a th:href="@{~/home/homepage}">Help</a>
        </div>
    </div>
    <a th:href="@{~/user/profile/}+${userdata.id}">
        <div class="profile-div">
            <div class="picture">
            </div>
            <h4 th:text="${userdata.getFullName()}"></h4>
        </div>
    </a>
</nav>