<nav class="nav" th:fragment="header">
  <div class="logo-div">
    <button class="btn" onclick="alert('Noice')" >
            <img th:src="@{~/images/logosmall.png}" alt="logo" class="logo">
    </button>
  </div>

  <div class="navbar" id="nav">
      <div class="nav_link hide">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">TicketRates</a>
          <a href="#">MyTickets</a>
          <a href="#">ContactUs</a>
          <a href="#">Help</a>
      </div>
  </div>
    <a th:href="@{~/user/profile/}+${userdata.id}">
        <div class="profile-div">
            <div class="picture" >
            </div>
            <h4 th:text="${userdata.getFullName()}"></h4>
        </div>
    </a>
</nav>