*{
    font-family: math;
}

body {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
     background:cadetblue ;
    /* overflow-x: hidden; */
}

h1 {
    color: black;
    font-size: 6em;
}

.admContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 0;
    width: 100%;
    border: black solid;
    border-radius: 5px;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    border-radius: 20px;
}

input {
    background: whitesmoke;
    width: 33%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-top: 2%;
}

select {
    background: whitesmoke;
    width: 66.4%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-top: 2%;
}

textarea {
    background: whitesmoke;
    resize: none;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-top: 2%;
}

.moviePic {
    margin-top: 2%;
    height: 300px;
    width: 300px;
}

.moviePic img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 21px 0 black;
    cursor: pointer;
}

.moviePic1 {
    margin-top: 2%;
    height: 300px;
    width: 693px;
}

.moviePic1 img {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 21px 0 black;
    cursor: pointer;
}

.addMovieBtn {
    margin-left: 40%;
    width: 25%;
    margin-top: 2%;
}

.Btn {
    display: flow-root;
    width: 100%;
    height: 40px;
    color: whitesmoke;
    background: #09203f;
    border: #09203f solid 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 1%;
}