*{
    margin: 0;
    padding: 0;
}
body{
    background: -webkit-linear-gradient(top, #09203f 10%, #09cedc 60%);
}

.homeMainClass{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 99%;
}

.imageBanner{
    height:600px;
    background: url("../images/spoiderverse.jpg") no-repeat center center;
    object-fit: contain;
    width: 85%;
    margin-left: 8.1%;
}

.movies{
    display: flex;
    flex-direction: column;
    border: solid greenyellow;
}

.nowShowing{
    display: flex;
    flex-wrap: wrap;
    border: solid royalblue;
    height: 100%;
    width: 100%;
    padding: 1% 0 0 3%;
}

.autoMovies{
    display: flex;
    flex-direction: row;
    height: 390px;
    width: 323px;
    margin: 1% 1% 1% 1%;
}

.movieImg{
    object-fit: fill;
    height: 390px;
    width: 323px;
}

.nextChange{
    display: flex;
    border: solid yellow;
    height: 100%;
    width: 100%;
}

.comingSoon{
    display: flex;
    border: solid teal;
    height: 100%;
    width: 100%;
}