* {
    margin: 0;
    padding: 0;
    font-family: math;
}

body {
    background: -webkit-linear-gradient(top, #09203f 10%, #09cedc 60%);
}

.swiper{
    z-index: 0;
    height: 600px;
    object-fit: contain;
    width: 85%;
    margin: 10em 8.1% 2%;
}
.swiper-slide{
    width: 100%;;
    object-fit: fill

}
.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: aqua;
}

.homeMainClass {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 99%;
}

.movies {
    display: flex;
    flex-direction: column;
    /*border: solid greenyellow;*/
}

.nowShowing {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 1% 0 0 3%;
}

.nextChange {
    display: flex;
    flex-wrap: wrap;
    /*border: solid #e8dd09;*/
    height: 100%;
    width: 100%;
    padding: 1% 0 0 3%;
}

.comingSoon {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 1% 0 0 3%;
}

.autoMovies {
    display: flex;
    flex-direction: row;
    margin: 1% 1% 1% 1%;

}

.movieImg {
    object-fit: fill;
    height: 390px;
    width: 323px;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.btn1 {
    transition: .5s linear;
    opacity: 0;
    position: absolute;
    transform: translate(30%, 280%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 201px;
    height: 48px;
    cursor: pointer;
    padding-top: 0.1%;
    color: whitesmoke;
    border: #050434 solid;
    border-radius: 14px;
    font-weight: bold;
    font-size: 37px;
    background-color: #09203f;
}

.btn2 {
    transition: .5s linear;
    opacity: 0;
    position: absolute;
    transform: translate(30%, 400%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 201px;
    height: 48px;
    cursor: pointer;
    padding-top: 0.1%;
    color: whitesmoke;
    border: #050434 solid;
    border-radius: 14px;
    font-weight: bold;
    font-size: 37px;
    background-color: #050434;
}


.autoMovies:hover .movieImg {
    opacity: 0.3;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.autoMovies:hover .btn1 {
    opacity: 1;
    z-index: 10;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.autoMovies:hover .btn2 {
    opacity: 1;
    z-index: 10;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.btn1:hover {
    background: floralwhite;
    color: #050434;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.btn2:hover {
    background: floralwhite;
    color: #050434;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.nextChange {
    display: flex;
    height: 100%;
    width: 100%;
}

.comingSoon {
    display: flex;
    height: 100%;
    width: 100%;
}

/*@media screen and (min-width: 200px) and (max-width: 800px) {    .swiper{*/
/*        z-index: 0;*/
/*        margin: 10% 8.1% 2%;*/
/*    }*/
/*}*/