* {
    font-family: math;
}

body {
    background: rgb(3, 3, 72);
}

.mdDetailsWrapper {
    padding: 3% 5% 3% 5%;
    margin: 7em 0 0 0;
    display: flex;
    flex-direction: row;
    column-gap: 15%;
}

.mdImagePart {
height: 400px;
width: 35%;
border: 4px solid goldenrod;
}


.img {
object-fit: cover;
height: 390px;
width: 100%;
transition: all .6s ease;
box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.mdDetailsPart {
display: flex;
flex-direction: column;
height: inherit;
width: 80%;
border: 4px solid red;
}

h1 {
background-color: aliceblue;
margin: 0 0 0 0;
text-align: left;
text-transform: uppercase;
font-family: math;
}

h2 {
background-color: rgb(102, 220, 86);
margin: 0.5% 0 0 0;
color: white;
text-align: left;
font-family: math;
}

.books{
background: whitesmoke;
position: relative;
color: black;
padding: 1rem 3rem 1rem 3rem;
left: 33em;
border: black solid 2px;
top: 3em;
cursor: pointer;
}
.books:hover{
background: black;
color: whitesmoke;
}

h6 {
background-color: rgb(130, 190, 241);
margin: 1% 0 0 0;
text-align: left;
font-family: math;
font-size: 21px;
}