* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-family: math;
}

.pWrapper{
  position: relative;
  margin: 0 0 18% 0;
  top: 15rem;
  left: 35%;
  /* transform: translate(-50%,-50%); */
  width: 500px;
  height: 350px;

}

.checkout_pWrapper{
  width: 50rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 5rem;
  right: 7rem;
}

.checkout_pWrapper .movieInfo{
  width: 45%;
  background: #e85c4d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  text-align: center;

}
.checkout_pWrapper .movieInfo p{
  color: white;
  margin-top: 70%;
  margin-left: 3%;
  font-size: 31px;
  font-weight: 700;
}

.checkout_pWrapper .movieInfoForm{
  border: solid #dddddd 5px;
  width: 55%;
  background: #fff;
  padding: 50px 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.checkout_pWrapper .movieInfo .content{
  text-align: center;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
}

.checkout_pWrapper .movieInfo .content h3{
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
}

.checkout_pWrapper .movieInfo .content p{
  margin-top: 10px;
  font-size:14px;
}

.movieInfoForm p{
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: uppercase;
}

.movieInfoForm .details .section{
  margin-bottom: 15px;
}

.movieInfoForm .details .section input[type="text"]{
  width: 100%;
  padding: 10px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.movieInfoForm .details .section input[type="text"]:focus{
  border: 2px solid #e85c4d;
}

.movieInfoForm .details .section.last_section{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movieInfoForm .details .section.last_section .item{
  width: 100%;
}

.movieInfoForm .details .btn{
  width: -webkit-fill-available;
  background: #e85c4d;
  padding: 32px;
  border-radius: 25px;
  text-align: center;
  margin: 10% 0 0 0;
  cursor: pointer;
}

.movieInfoForm .details .btn .buttonAn{
  margin-left: 39%;
  background: transparent;
  letter-spacing: 5px;
}