@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

.rightPart {
    position: relative;
    top: 9rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 70px;
    height: 68vh;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 100px;
    margin-top: 20px;
}

h3 {
    margin-left: 100px;
    margin-top: 20px;
}

.info {
    border-radius: 5px;
    margin-top: 10px;
    height: 5vh;
    width: 80%;
    border: #d9d9d9;
    background-color: #eee;
    text-transform: none;
}

.rightPart .nameBox {
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;
}

.rightPart .number {
    border-radius: 20px;
    margin-top: -70px;
    margin-left: 800px;
    width: 30%;

}

.rightPart .userName {
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;


}

.rightPart .email {
    border-radius: 20px;
    margin-top: -70px;
    margin-left: 800px;
    width: 30%;
}

.rightPart .pw {
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;
    /* border: solid green 5px; */


}

.rightPart .cpw {
    border-radius: 20px;
    margin-top: -70px;
    margin-left: 800px;
    width: 30%;
    /* border: solid red 5px; */


}

.rightPart .saveButton button {
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 275px;
    width: 10%;
    height: 40px;
    background-color: #24a0ed;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.rightPart .deleteButton button {
    border-radius: 10px;
    margin-top: -35px;
    margin-left: 800px;
    width: 10%;
    /* border: green solid 5px; */
    height: 40px;
    background-color: red;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
}



